MYSQL_DATABASE=xmesh
MYSQL_USER=xmesh
MYSQL_ROOT_PASSWORD=changeme-root
MYSQL_PASSWORD=changeme-user

#### User Service ####

USER_SVC_DB_USER=user_svc
USER_SVC_DB_PASSWORD=user_svc_pass
USER_SVC_DB_NAME=user_svc
USER_SVC_JWT_SECRET=changemejwt